%h1= @restaurant.name
%h3= @restaurant.address
%h3= number_to_phone(@restaurant.phone)
= image_tag @restaurant.static_map_url

- if current_employee
  %ul
    - @restaurant.employees.each do |employee|
      %li= "#{employee[:last_name]}, #{employee[:first_name]}"

%h2 Menu
= button_to "Add A Menu Item", new_restaurant_item_path(@restaurant), :method => "get", class: "button"
%ul
  - @restaurant.items.each do |item|
    %li= "#{item.name} -- #{number_to_currency(item.price)}"
