%h1.sign-in-heading= @restaurant.name
#restaurant-show-page
.row
  #show-wrap
    %h3.rest-address= @restaurant.address
    %h3.rest-address= number_to_phone(@restaurant.phone)
    = image_tag @restaurant.static_map_url

- if current_employee
  %ul
    - @restaurant.employees.each do |employee|
      %li= "#{employee[:last_name]}, #{employee[:first_name]}"
.row
  #menu-title-wrap
    %h2 Menu
- if current_employee
  = button_to "Add A Menu Item", new_restaurant_item_path(@restaurant), :method => "get", class: "button"
.row
  - @restaurant.items.each do |item|
    .one-item
      %ul
        %li.item-name= "#{item.name} -- #{number_to_currency(item.price)}"
        .item-desc-wrap
          %div.item-desc= item.description
          %div.item-ingred= item.ingredients
