%h2.sign-in-heading Add an Item
.row
  #register_form
    = simple_form_for [@restaurant, @item] do |f|
      = f.input :name, autofocus: true
      = f.input :price
      = f.input :description
      = f.input :ingredients
      = f.hidden_field :restaurant_id, value: @restaurant.id
      .button-wrap
        = f.button :submit, "Add Menu Item"
